#### Google Calendar in Grails Series

*   [Google Calendar in Grails Part 1: The Model](/2012/02/09/google-calendar-in-grails-part1-the-model.html)
*   [Google Calendar in Grails Part 2: Displaying the Calendar](/2012/02/16/google-calendar-in-grails-part2-displaying-the-calendar.html)
*   [Google Calendar in Grails Part 3: Creating and Modifying Events](/2012/02/18/google-calendar-in-grails-part3-creating-and-modifying-events.html)
*   [Google Calendar in Grails - Adding Tests with Spock](/2012/08/07/google-calendar-in-grails-adding-tests-with-spock.html)

Check out the [Live Calendar Demo](http://google-calendar.aws.af.cm/)

See the [Grails Google Calendar Project on Github](https://github.com/craigburke/google-calendar-grails) 

